@model IEnumerable<EmployeeManagement.Models.Employee>

<hr/>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmpId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpFna)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpLna)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dept)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmpId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpFna)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpLna)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dept)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.EmpId  }) |
            @Html.ActionLink("Details", "Details", new {  id=item.EmpId  }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.EmpId  })
        </td>
    </tr>
}

</table>
